/* How to specify HTML tags */
body {
    background: #0B132B;
    color: #5BC0BE;
}

a{
    color: #5BC0BE;
    font-size: larger;
}

button{
    color: #5BC0BE
}
.hSpacer{
    min-width:200px;
}
.vSpacer{
    min-height:200px;
}

.biggerGradient{
    max-width: 200%;
}

.borderedBig{
    font-family: Ubuntu;
    border-color: #7772B6;
    font-size: x-large;
    font-weight: bold;
    padding:13px;
    min-width:10px;
    min-height:10px;
    display:auto;
}

.heading{
    background-repeat: repeat-x;
    font-size: xx-large;
    font-weight: bold;
}

.tblSec{
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
}

.link{
    background-color: #3A506B;
    font-family: Ubuntu;
    border-color: #7772B6;
    color: #5BC0BE;
    padding:13px;
    min-width:100px;
    min-height:72px;
    display:inline-block;
}

.navi{
    float:inline-end;
}

.logo{
    min-width:10px;
}

.buttons{
    margin-left:150px;
    min-width: 150px;
}


.icon {
    display: inline-block;
    width: 1em; height: 1em;
    margin-right: .5em;
  }

  .input {
    position: relative;
    
    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
      background: pink;
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: var(--color-background);
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      color: currentColor;
      background: transparent;
      border-radius: var(--size-radius);
      
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -65%) scale(.8);
          color: var(--color-accent);
        }
      }
    }
  }