<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
  </head>
  <body>
    <div class = "heading">
    <table>
      <tr>
        <td>
          <button class="link logo"> <a href="/">
            <img src="/public/favicon.ico" alt="Home" style="width:42px;height:42px;">
          </a> </button>
        </td>
        <td>
          <button class="link"> <a href="/register">
            Sign Up!
          </a> </button>
        </td>
        <td>
          <button class="link"> <a href="/login">
            Log In!
          </a> </button>
        </td>
      </tr>
    </table>
    <center>
      <h1>StumbleSupp</h1>
    </center>
    </div>
    <center>
      <h2 class="borderedBig">Why should you try the StumbleSupp?</h2>
  <table style="width:100%"> <!-- About Me section forced horizontal with table-->
      <tr style="width:20%">
          <td style="width:20%"><h2 class="tblSec borderedBig giveGradient biggerGradient">Protects Seniors</h2>
              <p>less die yay very very good and cool pog
              </p>
          </td>
          <td style="width:20%"><h2 class="tblSec borderedBig giveGradient biggerGradient">Instant Fall Alerts</h2>
              <p>You can know right when they fall poggies 
              </p>
          </td>
          <td style="width:20%"><h2 class="tblSec borderedBig giveGradient biggerGradient">Looking Suave</h2>
              <p>Grandpa's rizz is through the rooooooooooooof
              </p>
          </td>
      </tr>
    </table> 
  </center>
<center> 
  <h2>How much is it??</h2> 
  <table style="width:90%"> <!-- Projects section forced horizontal with table, made slightly smaller to look better-->
  <tr style="width:20%"> 
      <td style="width:20%"><h2 >Upfront Cost</h2> 
          <div class="borderedBig giveGradient biggerGradient">$500</div>
          <ul> 
              <li>We strive to make an affordable product so you can soothe your worries with half the costs</li>
              <li>We worries with half the costs</li>
              <li>I am not living
              </li>
          </ul>
      </td>
      <td style="width:20%"><h2>Subscription Cost</h2>
          <div class="borderedBig giveGradient biggerGradient">$50/mo</div>
          <ul> 
              <li>To ensure your notifications are fast and unhindered, we need to keep you connected.</li>
              <li>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
              </li>
              <li>Can't think of more now</li>
          </ul>
      </td>
      <td style="width:20%"><h2>Refills</h2>
          <div class="borderedBig giveGradient biggerGradient">$10 for 20 refills!!</div>
          <ul> 
              <li>Easy to install so cool so cool so cool so cool so cool so cool so cool so cool so cool so cool so cool </li>
              <li>Reusable airbags!
              </li>
              <li>I am going to fall asleep</li>
          </ul>
      </td>
  </tr>
  </center>
</table> 
  </body>
</html>

  