<!DOCTYPE html>
<html>
  <head>
    <title>Class Leaderboard</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
    <script src="public/leaderboard.js"></script>
  </head>
  <body>
    <div class = "heading">
      <table>
        <tr>
          <td>
            <button class="link logo"> <a href="/">
              <img src="/public/favicon.ico" alt="Home" style="width:42px;height:42px;">
            </a> </button>
          </td>
          <td>
            <button class="link"> <a href="/profile">
              User Profile
            </a> </button>
          </td>
          <td>
            <button class="link"> <a href="/mvp">
              MVP Updates
            </a> </button>
          </td> 
          <td>
            <button class="link"> <a href="/leaderboard">
              Leaderboard
            </a> </button>
          </td>
          <td>
            <button class="link logout_button">
              Logout
            </button>
          </td>
        </tr>
      </table>
      </div>

      <u><h2>Leaderboard</h2></u>
      <div id = "lcontain" class = "grid">
  
      </div>

      <u><h2>Comments</h2></u>
      <div id = "ccontain" class = "grid">
  </body>
</html>

  