<!DOCTYPE html>
<html>
  <head>
    <title>MVP Updates</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
    <script src="public/loggedin.js"></script>
  </head>
  <body>
    <div class = "heading">
      <table>
        <tr>
          <td>
            <button class="link logo"> <a href="/">
              <img src="/public/favicon.ico" alt="Home" style="width:42px;height:42px;">
            </a> </button>
          </td>
          <td>
            <button class="link"> <a href="/profile">
              User Profile
            </a> </button>
          </td>
          <td>
            <button class="link"> <a href="/mvp">
              MVP Updates
            </a> </button>
          </td> 
          <td>
            <button class="link"> <a href="/leaderboard">
              Leaderboard
            </a> </button>
          </td>
          <td>
            <button class="link logout_button">
              Logout
            </button>
          </td>
        </tr>
      </table>
      </div>

  <div id = "Week1">
    <center><h1>Week 8:</h1></center>
  <table style="width:100%"> <!-- About Me section forced horizontal with table-->
      
      <tr style="width:20%">
          <td><h2>Key Tasks:</h2>
            <ul>
              <li>Figure out what to pivot to.</li>
              <li>Redo research and ideas for new pivot idea.</li>
            </ul>
          </td>
          <td><h2>Key Progress</h2>
            <ul>
              <li>No progress yet, as original idea is not good enough</li>
            </ul>
          </td>
          <td><h2>Challenges</h2>
            <ul>
              <li>All ideas we come up with have glaring problems or don't meet the requirements</li>
              <li>Very little consensus on what we actually want to and can build</li>
            </ul>
          </td>
      </tr>
    </table> 
</div>

<div style ="display: none;" id = "Week2">
  <center><h1>Week 9:</h1></center>
  <table style="width:100%"> <!-- About Me section forced horizontal with table-->
      
    <tr style="width:20%">
        <td><h2>Key Tasks:</h2>
          <ul>
            <li>Need to do interviews and competitor research.</li>
            <li>Josh has someone he knows that he can interview.</li>
            <li>Kim is doing competitor research.</li>
          </ul>
        </td>
        <td><h2>Key Progress</h2>
          <ul>
            <li>Finished job stories during lab</li>
            <li>RIBS and SWOT analysis finished</li>
          </ul>
        </td>
        <td><h2>Challenges</h2>
          <ul>
            <li>Unsure who else to interview for additional personas</li>
            <li>Hard to meet up and not very efficient in lab</li>
          </ul>
        </td>
    </tr>
  </table> 

<center> 
<h2>Key Tasks:</h2> 
<table style="width:90%"> <!-- Projects section forced horizontal with table, made slightly smaller to look better-->
<tr style="width:20%"> 
    <td><h3>Competitors</h3>
        <ul> 
            <li>Need to figure out all other competitors and how to easily differentiate</li>
            <li>Overly high number of competitors may cause issues with creating value</li>
        </ul>
    </td>
    <td><h3>Form Factor</h3>
        <ul> 
            <li>Need to decide on a proper form factor before doing value proposition and cost estimates</li>
            <li>Lots of dispute over what would be best</li>
        </ul>
    </td>
    <td><h3>Interviews</h3> 
      <ul> 
          <li>Lacking in people we can interview</li>
          <li>No real consensus on form factor so hard to get a proper opinion on our product</li>
          <li>My connections are really just lacking too much</li>
      </ul>
  </td>
</tr>
</center>
</table> 
</div>

<div style ="display: none;" id = "Week3">
  <center><h1>Week 10:</h1></center>
  <table style="width:100%"> <!-- About Me section forced horizontal with table-->
    <tr style="width:20%">
        <td><h2>Key Tasks:</h2>
          <ul>
            <li>Finish report</li>
            <li>Create Video</li>
          </ul>
        </td>
        <td><h2>Key Progress</h2>
          <ul>
            <li>Kim did most of the research needed to finish the report and most of the sections</li>
            <li>I researched materials to make our product sustainable</li>
            <li>We recorded the video and I edited it so it would be less bland</li>
          </ul>
        </td>
        <td><h2>Challenges</h2>
          <ul>
            <li>Hard to find time to meet up for video</li>
            <li>Not a lot of charisma available for actually solid video</li>
            <li>Report took quite a lot of time just to write up</li>
          </ul>
        </td>
    </tr>
  </table> 
</div>

<table style="width:100%"> <!-- About Me section forced horizontal with table-->
  <tr style="width:20%">
      <td align = 'left'>
        <button id = "left_button" class = "link">Previous Week</button>
      </td>
      <td align = 'right'><button id = "right_button" class = "link">Next Week</button>
      </td>
  </tr>
</table> 

  </body>
</html>

  